*{
	box-sizing: border-box;
	
}
.navbar{
  background-color: grey;
  color: #0f0f0f;
  border-radius: 0;
  border: 25;
  border-color: #0a0a0a;
}

.navbar-inverse .navbar-brand {
    color: #0c0c0c;
	font-weight: bold;
	margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
body{
	background-color: #f5eff1;
	color: rgb(12, 12, 12);
}
.glyphicon{
	font-size: 30px;
	color:#050505; 
}

.center{
	text-align: center;
	width: 90%;
	background-color: rgb(10, 10, 10);
}
.container
{
	background-color: grey;
	display: block;
	font-weight: bold;
	margin-left:50px;
	margin-right: 50px;
	padding: 5px 20px 5px 20px;
	overflow: hidden;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
	margin:auto;
}
}
.text-center{
	font-size: 30px;
	font-weight: bold;
	width: 100%;
}

h2{
	text-align: center;
	font-weight: bold;
}

#myNavbar ul li a:hover {
	background: #f7f5f5;
}
#myNavbar ul li a {
	color: #0a0a0a;
	text-align: center;
}
.navbar-brand{
font-size: 30px;	
}


